img{visibility: hidden !important;} 
#frontfeaturemiddle{ background: aqua !important;} 
div{background-image: none !important;} 
a{background-image: none !important;} 
video{visibility: hidden !important;}
iframe{visibility: hidden !important;}"
